@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Playfair+Display:wght@700&display=swap');


body {
    font-family: Arial, sans-serif;
    margin-top: 80px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; /* Fonte profissional e elegante para títulos */
    font-weight: 700; /* Peso mais forte para os títulos */
}

h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #333; /* Cor mais neutra para os títulos */
}
html {
    scroll-padding-top: 80px; /* Ajuste com a altura do seu header */
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('header-bg.jpg') no-repeat center center/cover;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

/* Logo */
header .logo {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

/* Navegação */
header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav .nav-item {
    font-size: 1rem;
}

header nav .nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Efeito hover nos links */
header nav .nav-link:hover {
    color: #FFD700; /* Um tom dourado que passa um aspecto profissional */
    transform: translateY(-2px);
}


.hero {
    background: url('../images/background-header.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.hr-style {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, #000, transparent);
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .card-img-top{
    max-width: 100%;
    height: 380px;
  }
  
  .contato-image img {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
  }
  
  .contato-info {
    flex: 1;
  }
  
  .contato-info h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .contato-info descricao {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .contato-detalhes p {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  .contato-detalhes strong {
    font-weight: bold;
    color: #333;
  }

  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .whatsapp-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25d366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .whatsapp-link:hover {
    transform: scale(1.1);
  }
  
  .whatsapp-link img {
    width: 35px;
    height: 35px;
    object-fit: contain;
  }

  /* Ajustes para telas pequenas (mobile) */
@media (max-width: 768px) {
    /* Alterar o layout da navegação para coluna */
    header nav ul {
        display: block;
        text-align: center;
        gap: 5px;
        margin-top: 5px;
    }

    /* Reduzir o tamanho da fonte da logo */
    header .logo {
        font-size: 1.3rem;
        text-align: center;
    }

    /* Ajustar os itens do menu para aumentar o espaçamento em telas pequenas */
    header nav .nav-item {
        font-size: 1.1rem;
    }

    /* Ajustar o espaçamento e o layout para dispositivos móveis */
    header {
        padding: 10px;
    }
}